.container {
    max-width: 640px;
    margin: 0 auto;
}

img {
    display: block;
}

.d-flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.gap-20 {
    gap: 20px;
}

.mb-24 {
    margin-bottom: 24px;
}

.list h2 {
    font-size: 20px;
    line-height: 1.2;
}

.list p {
    font-size: 16px;
    line-height: 1.5;
}

.footer {
    font-size: 16px;
    line-height: 1.5;
    padding-bottom: 48px;
    padding-top: 48px;
}