/* 色票 */
:root {
    --color-Neutral-900: #212529;
    --color-Neutral-600: #6C757D;
    --color-Neutral-500: #ADB5BD;
    --color-Primary-400: #57A203;
    --color-Primary-300: #C0FA73;
    --color-Primary-200: #E8FEC5;
    --color-Primary-100: #F5FEE7;
    --color-Neutral-300: #DEE2E6;
    --color-Neutral-White: #FFFFFF;
    --color-Neutral-100: #F8F9FA;
    --color-Functional-Danger-300: #D74F4F;
}