<header class="container">
    <nav class="d-flex py-16 align-center py-sm-12">
        <ul class="d-flex align-center">
            <li class="mr-48">
                <a href="index.html"><img
                        src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/73cf206013997d2173d20441794095af8b1ee3b9/2025-week1/logo.svg"
                        alt="logo">
                </a>
            </li>
            <li class="mr-40 d-sm-none TW-Label-md"><a class="py-12" href="products.html">商品列表</a></li>
            <li class="d-sm-none TW-Label-md"><a class="py-12" href="index.html">品牌故事</a></li>
        </ul>
        <a href="#" class="ml-auto p-12"><i class="bi bi-person"></i></a>
    </nav>
</header>