/* 字體和icon引用 */
@import url('https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&family=Noto+Sans+TC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

/* 色票 */
:root {
    --color-Neutral-900: #212529;
    --color-Neutral-600: #6C757D;
    --color-Neutral-500: #ADB5BD;
    --color-Primary-400: #57A203;
    --color-Primary-300: #C0FA73;
    --color-Primary-200: #E8FEC5;
    --color-Primary-100: #F5FEE7;
    --color-Neutral-300: #DEE2E6;
    --color-Neutral-White: #FFFFFF;
    --color-Neutral-100: #F8F9FA;
}

/* 全域設定 */
*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: "Noto Sans TC", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    color: #212529;
    font-weight: 500;
}

/* 字型字體 */
.TW-Headings-H1 {
    font-weight: 700;
    line-height: 1.2;
    font-size: 40px;
}

.TW-Headings-H3 {
    font-weight: 700;
    line-height: 1.2;
    font-size: 28px;
}

.TW-Headings-H4 {
    font-weight: 700;
    line-height: 1.2;
    font-size: 24px;
}

.TW-Headings-H5 {
    font-weight: 700;
    line-height: 1.2;
    font-size: 20px;
}

.TW-Headings-H6 {
    font-weight: 700;
    line-height: 1.2;
    font-size: 16px;
}

/*  
.TW-Label-md {
    font-weight: 500;
    font-size: 16px;
}
*/

.TW-Paragraph-sm {
    font-weight: 400;
    font-size: 14px;
}

/* 通用樣式 */

.container {
    max-width: 1296px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.d-b {
    display: block;
}

.f-warp {
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

/* 格線樣式 */
.row {
    margin-right: -12px;
    margin-left: -12px;
}

.col-2 {
    padding-right: 12px;
    padding-left: 12px;
    width: calc(100% / 12 * 2);
}

.col-3 {
    padding-right: 12px;
    padding-left: 12px;
    width: calc(100% / 12 * 3);
}

.col-4 {
    padding-right: 12px;
    padding-left: 12px;
    width: calc(100% / 12 * 4);
}

.col-5 {
    padding-right: 12px;
    padding-left: 12px;
    width: calc(100% / 12 * 5);
}

.col-6 {
    padding-right: 12px;
    padding-left: 12px;
    width: calc(100% / 12 * 6);
}

.col-7 {
    padding-right: 12px;
    padding-left: 12px;
    width: calc(100% / 12 * 7);
}

.col-8 {
    padding-right: 12px;
    padding-left: 12px;
    width: calc(100% / 12 * 8);
}

.col-9 {
    padding-right: 12px;
    padding-left: 12px;
    width: calc(100% / 12 * 9);
}

.col-10 {
    padding-right: 12px;
    padding-left: 12px;
    width: calc(100% / 12 * 10);
}

.col-11 {
    padding-right: 12px;
    padding-left: 12px;
    width: calc(100% / 12 * 11);
}

.col-12 {
    padding-right: 12px;
    padding-left: 12px;
    width: 100%;
}

/* 間距 */

.ml-auto {
    margin-left: auto;
}

.ml-48 {
    margin-left: 48px;
}

.mt-64 {
    margin-top: 64px;
}

.mb-64 {
    margin-bottom: 64px;
}

.mb-48 {
    margin-bottom: 48px;
}

.mb-24 {
    margin-bottom: 24px;
}

.mb-16 {
    margin-bottom: 16px;
}

.mb-12 {
    margin-bottom: 12px;
}

.mb-4 {
    margin-bottom: 4px;
}

.mr-48 {
    margin-right: 48px;
}

.mr-40 {
    margin-right: 40px;
}

.mr-12 {
    margin-right: 12px;
}

.mr-8 {
    margin-right: 8px;
}

.my-16 {
    margin-top: 16px;
    margin-bottom: 16px;
}

.pt-32 {
    padding-top: 32px;
}

.pb-48 {
    padding-bottom: 48px;
}

.pb-32 {
    padding-bottom: 32px;
}

.px-32 {
    padding-left: 32px;
    padding-right: 32px;
}

.px-12 {
    padding-left: 12px;
    padding-right: 12px;
}

.py-64 {
    padding-top: 64px;
    padding-bottom: 64px;
}

.py-32 {
    padding-top: 32px;
    padding-bottom: 32px;
}

.py-16 {
    padding-top: 16px;
    padding-bottom: 16px;
}

.py-12 {
    padding-top: 12px;
    padding-bottom: 12px;
}

.py-8 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.pl-12 {
    padding-left: 12px;
}

.pl-8 {
    padding-left: 8px;
}

.pr-8 {
    padding-right: 8px;
}

.p-12 {
    padding: 12px;
}

/* 麵包屑的通用樣式 */

.breadcrumb-item+.breadcrumb-item::before {
    content: "/";
    padding: 0 12px;
    color: var(--color-Neutral-300);
    font-weight: 700;
}

.breadcrumb-item {
    display: flex;
}

.breadcrumb-link {
    color: var(--color-Neutral-600);
}

.btn {
    border-radius: 4px;
    padding: 12px 24px;
    font: inherit;
    cursor: pointer;
    border: none;
    background-color: transparent;
}