.product-nav .active {
    color: var(--color-Primary-400);
}


.page-item .btn {
    padding: 8px 15px;
    border-radius: 0;
    font-weight: 400;
}

.page-item .active {
    background-color: var(--color-Primary-300);
    font-weight: 500;
}