/* 字型字體 */
.TW-Headings-H1 {
    font-weight: 700;
    line-height: 1.2;
    font-size: 40px;
}

.TW-Headings-H2 {
    font-weight: 700;
    line-height: 1.2;
    font-size: 32px;
}

.TW-Headings-H3 {
    font-weight: 700;
    line-height: 1.2;
    font-size: 28px;
}

.TW-Headings-H4 {
    font-weight: 700;
    line-height: 1.2;
    font-size: 24px;
}

.TW-Headings-H5 {
    font-weight: 700;
    line-height: 1.2;
    font-size: 20px;
}

.TW-Headings-H6 {
    font-weight: 700;
    line-height: 1.2;
    font-size: 16px;
}

.TW-Label-md {
    font-weight: 500;
    font-size: 16px;
}

.TW-Paragraph-md {
    font-weight: 400;
    font-size: 16px;
}

.TW-Paragraph-sm {
    font-weight: 400;
    font-size: 14px;
}


@media(max-width:767px) {
    .H3-md {
        font-size: 28px;
    }

    .H4-md {
        font-size: 24px;
    }

    .H5-md {
        font-size: 20px;
    }

    .H6-md {
        font-size: 16px;
    }
}

@media(max-width:576px) {
    .H3-sm {
        font-size: 28px;
    }

    .H4-sm {
        font-size: 24px;
    }

    .H5-sm {
        font-size: 20px;
    }

    .H6-sm {
        font-size: 16px;
    }
}

/* 顯示和對齊 */


.d-flex {
    display: flex;
}

.d-b {
    display: block;
}

/* 隱藏元素 */
.d-none {
    display: none;
}

.f-warp {
    flex-wrap: wrap;
}

@media(max-width:767px) {
    .d-md-b {
        display: block;
    }

    .d-md-none {
        display: none;
    }
}

@media(max-width:576px) {
    .d-sm-b {
        display: block;
    }

    .d-sm-none {
        display: none;
    }
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.text-conter {
    text-align: center;
}

.link-underline {
    text-decoration: underline;
    text-underline-offset: 4px;
}


/* 間距 */

.ml-auto {
    margin-left: auto;
}

.ml-48 {
    margin-left: 48px;
}

.ml-12 {
    margin-left: 12px;
}

.mt-64 {
    margin-top: 64px;
}

.mt-40 {
    margin-top: 40px;
}

.mb-64 {
    margin-bottom: 64px;
}

.mb-48 {
    margin-bottom: 48px;
}

.mb-32 {
    margin-bottom: 32px;
}

.mb-24 {
    margin-bottom: 24px;
}

.mb-16 {
    margin-bottom: 16px;
}

.mb-12 {
    margin-bottom: 12px;
}

.mb-8 {
    margin-bottom: 8px;
}

.mb-4 {
    margin-bottom: 4px;
}

.mr-48 {
    margin-right: 48px;
}

.mr-40 {
    margin-right: 40px;
}

.mr-24 {
    margin-right: 24px;
}

.mr-12 {
    margin-right: 12px;
}

.mr-8 {
    margin-right: 8px;
}

.my-16 {
    margin-top: 16px;
    margin-bottom: 16px;
}

@media(max-width:767px) {
    .mb-md-32 {
        margin-bottom: 32px;
    }

    .mb-md-24 {
        margin-bottom: 24px;
    }

    .mb-md-16 {
        margin-bottom: 16px;
    }

    .mb-md-12 {
        margin-bottom: 12px;
    }

    .mb-md-8 {
        margin-bottom: 8px;
    }

    .mb-md-4 {
        margin-bottom: 4px;
    }

    .mr-mb-16 {
        margin-right: 16px;
    }

    .mr-mb-0 {
        margin-right: 0px;
    }

    .my-mb-12 {
        margin-top: 12px;
        margin-bottom: 12px;
    }

}

@media(max-width:576px) {
    .mb-sm-32 {
        margin-bottom: 32px;
    }

    .mb-sm-24 {
        margin-bottom: 24px;
    }

    .mb-sm-16 {
        margin-bottom: 16px;
    }

    .mb-sm-12 {
        margin-bottom: 12px;
    }

    .mb-sm-8 {
        margin-bottom: 8px;
    }

    .mb-sm-4 {
        margin-bottom: 4px;
    }

    .mr-sm-16 {
        margin-right: 16px;
    }

    .mr-sm-0 {
        margin-right: 0px;
    }

    .my-sm-12 {
        margin-top: 12px;
        margin-bottom: 12px;
    }

}



.pt-64 {
    padding-top: 64px;
}

.pt-32 {
    padding-top: 32px;
}

.pb-64 {
    padding-bottom: 64px;
}

.pb-48 {
    padding-bottom: 48px;
}

.pb-32 {
    padding-bottom: 32px;
}

.px-32 {
    padding-left: 32px;
    padding-right: 32px;
}

.px-12 {
    padding-left: 12px;
    padding-right: 12px;
}

.py-64 {
    padding-top: 64px;
    padding-bottom: 64px;
}

.py-48 {
    padding-top: 48px;
    padding-bottom: 48px;
}

.py-32 {
    padding-top: 32px;
    padding-bottom: 32px;
}

.py-24 {
    padding-top: 24px;
    padding-bottom: 24px;
}

.py-16 {
    padding-top: 16px;
    padding-bottom: 16px;
}

.py-12 {
    padding-top: 12px;
    padding-bottom: 12px;
}

.py-9-5 {
    padding-top: 9.5px;
    padding-bottom: 9.5px;
}

.py-8 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.pl-12 {
    padding-left: 12px;
}

.pl-8 {
    padding-left: 8px;
}

.pr-8 {
    padding-right: 8px;
}

.p-12 {
    padding: 12px;
}

.p-16 {
    padding: 16px;
}

@media(max-width:767px) {
    .p-md-24 {
        padding: 24px;
    }

    .py-md-16 {
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .py-md-12 {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .py-md-32 {
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .pb-md-32 {
        padding-bottom: 32px;
    }

    .pt-md-32 {
        padding-top: 32px;
    }
}

@media(max-width:576px) {
    .p-sm-24 {
        padding: 24px;
    }

    .py-sm-16 {
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .py-sm-12 {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .py-sm-32 {
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .pb-sm-32 {
        padding-bottom: 32px;
    }

    .pt-sm-32 {
        padding-top: 32px;
    }
}

.gap-8 {
    gap: 8px;
}

/* 顏色工具 */
.bg-200 {
    background-color: var(--color-Primary-200);
}

.bg-100 {
    background-color: var(--color-Neutral-100);
}

.text-color-600 {
    color: var(--color-Neutral-600);
}

.text-primary-400 {
    color: var(--color-Primary-400);
}